header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: calc(100vh - 50px);
  padding-inline: 150px;
  overflow: hidden;

  @media (max-width: 1100px) {
    padding-inline: 30px;
  }

  @media (max-width: 500px) {
    padding-inline: 10px;
    justify-content: flex-start;
    padding-top: 120px;
  }
}