header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  min-height: calc(100vh - 50px);
  padding-inline: clamp(1rem, -7.9744rem + 17.9487vw, 15rem);
  overflow: hidden;

  @media (max-width: 500px) {
    justify-content: flex-start;
    padding-top: 120px;
  }
}