section#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: clamp(3rem, -39.7778rem + 38.8889vw, 10rem);
  gap: 50px;

  @media (max-width: 880px) {
    h3 {
      margin-bottom: 0;
    }
  }

  .container-project {
    display: flex;
    padding-left: clamp(3rem, -38.8rem + 47.5vw, 22rem);

    @media (max-width: 880px) {
      flex-direction: column;

      .content,
      .img-box {
        width: 100%;
      }
    }

    .content {
      position: sticky;
      top: 20px;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      margin-right: 20px;

      @media (max-width: 880px) {
        width: 100%;

        h5 {
          margin-bottom: 0;
        }
      }

      .description {
        margin-block: 15px;
      }

      .divider {
        width: 100%;
        height: 2px;
        background: rgba(51, 51, 51, 0.333);
      }

      .container-languages {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px 0 0 30px;
        font-size: 1.8rem;

        @media (max-width: 880px) {
          flex-direction: row;
          gap: 30px;
          margin: 40px 0;
        }

        .language {
          width: max-content;
          transition: letter-spacing .3s;
          color: $grey;
          display: flex;
          user-select: none;
          cursor: none;

          &:hover {
            letter-spacing: 1px;
            color: $dark;

            span {
              color: $red;
            }
          }

          span {
            transition: color .3s;
            margin-right: 10px;
          }
        }
      }
    }

    .img-box {
      position: relative;
      width: 60%;
      overflow: hidden;

      @media (max-width: 1200px) {
        width: 55%;
      }

      @media (max-width: 880px) {
        width: 100%;
        z-index: 10;

        &::after {
          content: 'VOIR';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include df-center;
          width: 120px;
          aspect-ratio: 1/1;
          background: white;
          border-radius: 50%;
          font-size: 3rem;
        }
      }

      &:hover {
        img {
          transform: scale(1.1);
          filter: grayscale(0);
        }
      }

      img {
        width: 100%;
        object-fit: cover;
        z-index: 9;
        filter: grayscale(100%);
        transition: all .5s;

        @media (max-width: 880px) {
          height: 700px;
          filter: grayscale(0);
        }
      }
    }
  }
}