@import "../keyframes/scroller";

.scroller {
  position: absolute;
  bottom: 20px;
  left: 20px;
  user-select: none;
  cursor: default;

  .circle {
    position: relative;
    @include df-center;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    .arrow {
      position: absolute;
      @include df-center;
      width: 130px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: $dark;
      color: $light;
      font-size: 5rem;
    }

    .text {
      position: absolute;
      width: 100%;
      aspect-ratio: 1/1;
      animation: rotation 10s infinite linear;

      span {
        position: absolute;
        left: 50%;
        font-size: 2rem;
        transform-origin: 0 420%;
      }
    }
  }
}