*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: "Popins", sans-serif;
  background: $light;
  color: $dark;
  text-transform: uppercase;
  overflow: hidden;
  overflow-y: scroll;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.triangle {
  width: 20px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;

  &.hovered {
    cursor: none;
  }
}

p.description {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5px;
  width: min(750px, 95%);
  font-size: clamp(1.6rem, 1.3435rem + 0.5128vw, 2rem);
  line-height: 1.5em;
  color: $grey;
  user-select: none;
  cursor: default;
}