*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%; // 1em = 10px
  font-family: "Neue Montreal", sans-serif;
  background: $light;
  color: $dark;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}