h1,
h2 {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: clamp(30rem, 10.3659rem + 42.6829vw, 65rem);
  font-size: clamp(4rem, 1.1952rem + 6.0976vw, 9rem);
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -3px;
  overflow-y: hidden;
  user-select: none;
  cursor: default;
}

h2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: clamp(13.5rem, 4.2438rem + 20.122vw, 30rem);
}

h3 {
  font-size: clamp(6rem, 1.6rem + 5vw, 8rem);
  margin-left: clamp(1rem, -14.8219rem + 28.7671vw, 22rem);
  font-weight: 100;
  user-select: none;
  cursor: default;

  @media (max-width: 880px) {
    margin-bottom: 50px;
  }
}

h4 {
  display: flex;
  font-size: clamp(3.45rem, 1.6704rem + 4.9451vw, 8rem);
  font-weight: 400;
  letter-spacing: -3px;
  margin-bottom: 20px;
  overflow-y: hidden;
  user-select: none;
  cursor: default;
}

h5 {
  display: flex;
  top: 20px;
  font-size: clamp(4rem, 2.3974rem + 3.2051vw, 6.5rem);
  font-weight: 400;
  letter-spacing: -3px;
  overflow-y: hidden;
  user-select: none;
  cursor: default;

  @media (max-width: 880px) {
    margin-bottom: 50px;
  }
}

h6 {
  position: absolute;
  left: clamp(1rem, -11.2222rem + 11.1111vw, 3rem);
  font-size: 3rem;
  writing-mode: vertical-rl;
  transition: translate .2s;
  user-select: none;
  cursor: default;

  @media (max-width: 990px) {
    display: none;
  }

  &.services {
    top: 50px;
  }

  &.projects {
    top: -200px;
  }

  span {
    position: absolute;
    right: 50%;
    top: calc(100% + 15px);
    height: 150px;
    width: 1px;
    background: $dark;
  }
}